@import 'https://fonts.googleapis.com/css?family=VT323'
@import 'https://fontlibrary.org/face/comic-neue'

body,
h1,
h2,
h3,
h4,
h5,
html {
  margin: 0padding:0
}

*,
body {
  font-weight: lighter
}

.loader>img,
body,
picture {
  display: block
}

#message-icon,
.btn.cta,
.next,
.prev {
  cursor: pointer
}

body,
html {
  height: 100vhwidth:100vw
}

button,
button:active,
button:focus {
  border: noneoutline:0font-family:VT323, monospace
}

.hp-bar,
.mp-bar {
  border-right-style: solid
}

body {
  top: 0bottom:0left:0right:0background:-webkit-linear-gradient(left top, #99c339, #008d94) fixedbackground-repeat:no-repeatfont-family:VT323, monospace-webkit-font-smoothing:none-moz-osx-font-smoothing:unsetfont-smooth:unsetfont-size:1.3remcolor:#5e686doverflow:hidden
}

.overview--me-grp-char-class,
a {
  color: #99c339
}

* {
  image-rendering: optimizeSpeedimage-rendering:-moz-crisp-edgesimage-rendering:-o-crisp-edgesimage-rendering:-webkit-optimize-contrastimage-rendering:pixelatedimage-rendering:optimize-contrast-ms-interpolation-mode:nearest-neighbor-webkit-transition:.5s-moz-transition:.5s-o-transition:.5stransition:.5s-webkit-transition-timing-function:cubic-bezier(.9, 0, .1, 1)-moz-transition-timing-function:cubic-bezier(.9, 0, .1, 1)-o-transition-timing-function:cubic-bezier(.9, 0, .1, 1)transition-timing-function:cubic-bezier(.9, 0, .1, 1)
}

.loading-wrapper {
  display: blockposition:absolutetop:0left:0height:100%width:100%-webkit-transform:translateY(0)-moz-transform:translateY(0)-o-transform:translateY(0)-ms-transform:translateY(0)transform:translateY(0)
}

.not-loading {
  -webkit-transform: translateY(100%)-moz-transform:translateY(100%)-o-transform:translateY(100%)-ms-transform:translateY(100%)transform:translateY(100%)
}

.loader>img {
  margin: 1em autowidth:autoheight:30vh
}

h1,
h2 {
  margin-bottom: .2em
}

.out-of-view-right {
  -webkit-transform: translateX(100vw)-moz-transform:translateX(100vw)-o-transform:translateX(100vw)-ms-transform:translateX(100vw)transform:translateX(100vw)
}

.out-of-view-left {
  -webkit-transform: translateX(-100vw)-moz-transform:translateX(-100vw)-o-transform:translateX(-100vw)-ms-transform:translateX(-100vw)transform:translateX(-100vw)
}

h1 {
  font-size: 2.5em
}

h2 {
  font-size: 1.3em
}

a {
  text-decoration: underline
}

.center-parent {
  display: tabletext-align:centerheight:100%
}

.centered {
  display: table-cellvertical-align:middle
}

[class*='--me-grp'] {
  image-rendering: optimize-speedimage-rendering:-moz-crisp-edges
}

.layout--me-grp {
  text-align: centerdisplay:inline-block
}

.me {
  height: 100%margin-top:1em
}

.me>img {
  height: 40vh
}

.hp,
.hp>img,
.mp,
.mp>img {
  display: inline-blockline-height:2emvertical-align:middle
}

.mp {
  margin-left: .5em
}

.blink {
  animation: .35s blink linear infinite-webkit-animation:.35s blink linear infinite-moz-animation:.35s blink linear infinite-o-animation:.35s blink linear infinite-ms-animation:.35s blink linear infinite
}

.hp-bar,
.mp-bar {
  display: inline-blockheight:.5emmargin-left:5pxvertical-align:middle-webkit-transform:scaleX(0)-moz-transform:scaleX(0)-o-transform:scaleX(0)-ms-transform:scaleX(0)transform:scaleX(0)-webkit-transform-origin:left-moz-transform-origin:left-o-transform-origin:left-ms-transform-origin:lefttransform-origin:left-webkit-transition:1s-moz-transition:1s-o-transition:1s-ms-transition:1stransition:1s
}

.mp-bar {
  background: #93d1daborder-right-color:#73b1ba
}

.hp-bar {
  background: #ef7f45border-right-color:#c3a1aa
}

.centered {
  margin: 0 auto
}

[class*=me-grp--blurb] {
  width: 40%height:5emdisplay:blocktext-align:left
}

.layout--me-grp--blurb {
  display: inline-blockwidth:50% !importantmargin:0 0 0 1emvertical-align:toptext-align:left
}

.layout--me-grp--blurb>p {
  height: 6em
}

.layout--me-grp--blurb>h1 {
  width: 100%display:block
}

[class*=-wrapper] {
  width: 100vwheight:100vh
}

.overview--me-grp--blurb {
  width: 80%
}

.overview--me-grp {
  width: 66%float:right
}

.overview--skills-list {
  width: 33%height:100%display:inline-blockfloat:leftposition:relative
}

.micro {
  -webkit-transform: scale(0)-moz-transform:scale(0)-o-transform:scale(0)-ms-transform:scale(0)transform:scale(0)opacity:0
}

.macro {
  -webkit-transform: scale(1)-moz-transform:scale(1)-o-transform:scale(1)-ms-transform:scale(1)transform:scale(1)opacity:1
}

.overview--skills-list--skill {
  -webkit-transform: scaleX(0)-moz-transform:scaleX(0)-o-transform:scaleX(0)-ms-transform:scaleX(0)transform:scaleX(0)-webkit-transform-origin:left-moz-transform-origin:left-o-transform-origin:left-ms-transform-origin:lefttransform-origin:left-webkit-transition:.5s-moz-transition:.5s-o-transition:.5s-ms-transition:.5stransition:.5s-webkit-transition-timing-function:cubic-bezier(1, 0, .5, 1.5)-moz-transition-timing-function:cubic-bezier(1, 0, .5, 1.5)-o-transition-timing-function:cubic-bezier(1, 0, .5, 1.5)-ms-transition-timing-function:cubic-bezier(1, 0, .5, 1.5)transition-timing-function:cubic-bezier(1, 0, .5, 1.5)box-sizing:border-boxbackground:#5e686dborder:1px dashed #5e686dposition:relativemargin-top:-1px
}

.expanded {
  -webkit-transform: scaleX(1)-moz-transform:scaleX(1)-o-transform:scaleX(1)-ms-transform:scaleX(1)transform:scaleX(1)
}

.overview--skills-list--scale {
  display: blockwidth:calc(100% + 10px)height:autobottom:0position:absoluteleft:0z-index:20
}

.overview--skills-list--skill--skill-text {
  height: 100%display:inline-blocktop:0padding-left:5pxbackground:0 0animation:.2s 2s fadeIn backwards-webkit-animation:.2s 2s fadeIn backwards-moz-animation:.2s 2s fadeIn backwards-o-animation:.2s 2s fadeIn backwards-ms-animation:.2s 2s fadeIn backwardswhite-space:nowrapline-height:100%vertical-align:bottom
}

.design-skills--page-wrapper,
.dev-skills--myConsole-wrapper,
.layout-skills--window-wrapper,
.want-to-learn-skills--page-wrapper {
  width: 100vwheight:100vh
}

.design-skills--icon-wrapper,
.design-skills--page-wrapper {
  width: 100vwheight:100vhposition:absolutetop:0left:0
}

.dev-skills--myConsole-grp,
.layout-skills--window-grp {
  position: relativedisplay:inline-blockwidth:60vwheight:70vhbackground:#474746border-radius:10pxoverflow:hiddenborder:1px solid #575756box-shadow:10px 10px 20px rgba(87, 87, 86, .7)
}

.layout-skills--window-grp {
  background: #dedede
}

.dev-skills--myConsole-grp--title-bar,
.layout-skills--window-grp--title-bar {
  position: absolutez-index:1top:0display:blockwidth:100%background:linear-gradient(to top, #969695 5%, #c6c6c5)height:1.2emtext-align:center
}

.dev-skills--myConsole-grp--title,
.layout-skills--window-grp--title {
  position: absolutedisplay:blocktop:.2embottom:0height:100%line-height:100%width:100%vertical-align:middlefont-family:'Helvetica Neue', Helvetica, sans-seriffont-weight:400font-size:.8em-webkit-font-smoothing:antialiased-moz-osx-font-smoothing:autofont-smooth:autotext-shadow:1px 1px 1px #969695color:#444
}

.os-btn {
  width: .55emheight:.55emborder-radius:50%display:inline-blockmargin:.325em .2emfloat:left
}

.os-btn:first-of-type {
  border: 1px solid #e94e58background:#ee7578margin-left:.4em
}

.os-btn:nth-of-type(2) {
  border: 1px solid #f49737background:#f9bf33
}

.os-btn:nth-of-type(3) {
  border: 1px solid #649f3abackground:#00c956
}

#myConsole-input,
.dev-skills--myConsole-grp--myConsole>* {
  width: 80%font-family:'Lucida myConsole', Monaco, monospacecolor:#8fec80font-size:.6emvertical-align:middleline-height:autodisplay:blockfloat:leftheight:automargin:0 0 .5em auto-webkit-font-smoothing:antialiased-moz-osx-font-smoothing:autofont-smooth:autofont-weight:300background:rgba(0, 0, 0, 0)border:none
}

.dev-skills--myConsole-grp--myConsole>.myConsole-line:first-child {
  margin-top: 3em
}

.myConsole-line {
  white-space: pre-wrap
}

.myConsole-line.elmo {
  line-height: 100%
}

.dev-skills--myConsole-grp--myConsole>.usr {
  display: inline-blockfloat:leftwidth:automargin-bottom:.5em
}

#myConsole-input {
  width: 70%display:inline-blockfloat:lefttext-align:leftheight:1.667em
}

#myConsole-input:focus {
  outline: 0
}

.dev-skills--myConsole-grp--myConsole {
  position: relativeoverflow:hiddenbottom:0margin-left:1emheight:100%text-align:left
}

.layout-skills--window-grp--window {
  text-align: centerwidth:100%
}

.next-prev {
  position: absolutedisplay:blockbottom:1emright:1emtext-align:rightwidth:autoz-index:99
}

.illus--column,
.illus--item,
.to-learn,
.word-scroller {
  position: relative
}

.btn.cta,
.illus--blurb,
.illus--column,
.illus--item,
.next,
.prev {
  display: inline-block
}

.next-prev img {
  height: 3.5em
}

.next,
.prev {
  height: 1emopacity:.4width:autobackground:0 0
}

.next:hover,
.prev:hover {
  opacity: .8
}

.design-skills--phone.inactive>img {
  -webkit-transform: scale(.6)-moz-transform:scale(.6)-o-transform:scale(.6)-ms-transform:scale(.6)transform:scale(.6)width:auto
}

.design-skills--phone>img {
  -webkit-transform-origin: center-moz-transform-origin:center-o-transform-origin:center-ms-transform-origin:centertransform-origin:centerborder-radius:20pxbox-shadow:10px 10px 20px rgba(87, 87, 86, .7)
}

.btn.cta {
  text-align: centerwidth:5empadding:.5embackground:#cc4color:#5e686dborder-radius:.3emfont-size:1.16em
}

.level-up,
em {
  color: #99c339
}

.btn:hover {
  -webkit-transition: .2s-moz-transition:.2s-o-transition:.2stransition:.2sbox-shadow:3px 3px 3px rgba(87, 87, 86, .5)
}

.illus {
  width: 100%height:100%
}

.illus--column {
  width: 20%height:35%
}

.illus--item {
  height: 90%width:90%padding:5%margin:0
}

.illus--item>img {
  height: autowidth:100%
}

.illus--blurb {
  width: 80%text-align:justifypadding-right:5emheight:5embox-sizing:border-box
}

@-webkit-keyframes wheech-in {
  0% {
    -webkit-transform: translateY(100%)opacity:0
  }
  75% {
    -webkit-transform: translateY(-10%)
  }
  100% {
    -webkit-transform: translateY(0)opacity:1
  }
}

@-moz-keyframes wheech-in {
  0% {
    -moz-transform: translateY(100%)opacity:0
  }
  75% {
    -moz-transform: translateY(-10%)
  }
  100% {
    -moz-transform: translateY(0)opacity:1
  }
}

@keyframes wheech-in {
  0% {
    -webkit-transform: translateY(100%)-moz-transform:translateY(100%)-ms-transform:translateY(100%)-o-transform:translateY(100%)transform:translateY(100%)opacity:0
  }
  75% {
    -webkit-transform: translateY(-10%)-moz-transform:translateY(-10%)-ms-transform:translateY(-10%)-o-transform:translateY(-10%)transform:translateY(-10%)
  }
  100% {
    -webkit-transform: translateY(0)-moz-transform:translateY(0)-ms-transform:translateY(0)-o-transform:translateY(0)transform:translateY(0)opacity:1
  }
}

@-webkit-keyframes wheech-out {
  0% {
    -webkit-transform: translateY(0)opacity:1
  }
  25% {
    -webkit-transform: translateY(10%)
  }
  100% {
    -webkit-transform: translateY(-150%)opacity:0
  }
}

@-moz-keyframes wheech-out {
  0% {
    -moz-transform: translateY(0)opacity:1
  }
  25% {
    -moz-transform: translateY(10%)
  }
  100% {
    -moz-transform: translateY(-150%)opacity:0
  }
}

@keyframes wheech-out {
  0% {
    -webkit-transform: translateY(0)-moz-transform:translateY(0)-ms-transform:translateY(0)-o-transform:translateY(0)transform:translateY(0)opacity:1
  }
  25% {
    -webkit-transform: translateY(10%)-moz-transform:translateY(10%)-ms-transform:translateY(10%)-o-transform:translateY(10%)transform:translateY(10%)
  }
  100% {
    -webkit-transform: translateY(-150%)-moz-transform:translateY(-150%)-ms-transform:translateY(-150%)-o-transform:translateY(-150%)transform:translateY(-150%)opacity:0
  }
}

.site-type,
.to-learn,
.to-learn-item,
.word-scroller {
  box-sizing: border-boxvertical-align:baseline
}

.word-scroller {
  height: autowidth:autovertical-align:middledisplay:blocktext-align:centeroverflow:hiddenpadding:0
}

.to-learn,
ol.text-left {
  text-align: left
}

h1.want-to-learn--title,
h2.word-scroller {
  font-size: 2emfont-weight:400
}

h1.want-to-learn--title {
  font-size: 2.5em
}

.to-learn {
  height: 1emdisplay:inline-blockvertical-align:baselineborder-bottom:.2em solid #c8d979margin:0 0 -.2em -.1em
}

.level-up,
.such-stuff,
.to-learn-item,
ul.contact-list {
  position: absolute
}

.to-learn-item {
  height: 90%display:blockleft:0top:0-webkit-transform:translateY(0)-moz-transform:translateY(0)-ms-transform:translateY(0)-o-transform:translateY(0)transform:translateY(0)white-space:nowrap
}

.in {
  -webkit-animation: wheech-in .5s linear 1-moz-animation:wheech-in .5s linear 1animation:wheech-in .5s linear 1
}

.out {
  -webkit-transform: translateY(-150%)-moz-transform:translateY(-150%)-ms-transform:translateY(-150%)-o-transform:translateY(-150%)transform:translateY(-150%)-webkit-animation:wheech-out .5s linear 1-moz-animation:wheech-out .5s linear 1animation:wheech-out .5s linear 1opacity:0
}

.below {
  -webkit-transform: translateY(150%)-moz-transform:translateY(150%)-ms-transform:translateY(150%)-o-transform:translateY(150%)transform:translateY(150%)
}

ul.contact-list {
  display: blocklist-style:nonebottom:1.7remwidth:100%padding:0margin:0 auto
}

ul.contact-list img {
  max-height: 1.5emmax-width:1.5em
}

ul.contact-list,
ul.contact-list>li {
  vertical-align: middletext-align:center
}

ul.contact-list>li {
  display: inline-blockmargin:0 .7em
}

ul.contact-list>li:hover {
  -webkit-transform: scale(1.3)-moz-transform:scale(1.3)-o-transform:scale(1.3)transform:scale(1.3)
}

.sum-up--me-grp--blurb,
.sum-up--me-grp--blurb>p {
  width: 60%height:5emtext-align:left
}

.sum-up--me-grp--blurb>p {
  width: 100%
}

@-webkit-keyframes tadaa {
  0%,
  60% {
    -webkit-transform: scale(1)
  }
  65%,
  70% {
    -webkit-transform: scale(.8) rotateZ(-2deg)
  }
  75% {
    -webkit-transform: scale(1.1) rotateZ(2deg)
  }
  77.5% {
    -webkit-transform: scale(1.1) rotateZ(-2deg)
  }
  80% {
    -webkit-transform: scale(1.1) rotateZ(2deg)
  }
  82.5% {
    -webkit-transform: scale(1.1) rotateZ(-2deg)
  }
  85% {
    -webkit-transform: scale(1.1) rotateZ(2deg)
  }
  87.5% {
    -webkit-transform: scale(1.1) rotateZ(-2deg)
  }
  90% {
    -webkit-transform: scale(1.1) rotateZ(2deg)
  }
  92.5% {
    -webkit-transform: scale(1.1) rotateZ(-2deg)
  }
  95% {
    -webkit-transform: scale(1.1) rotateZ(2deg)
  }
  97.5% {
    -webkit-transform: scale(1.1) rotateZ(-2deg)
  }
  100% {
    -webkit-transform: scale(1) rotateZ(0)
  }
}

@-moz-keyframes tadaa {
  0%,
  60% {
    -moz-transform: scale(1)
  }
  65%,
  70% {
    -moz-transform: scale(.8) rotateZ(-2deg)
  }
  75% {
    -moz-transform: scale(1.1) rotateZ(2deg)
  }
  77.5% {
    -moz-transform: scale(1.1) rotateZ(-2deg)
  }
  80% {
    -moz-transform: scale(1.1) rotateZ(2deg)
  }
  82.5% {
    -moz-transform: scale(1.1) rotateZ(-2deg)
  }
  85% {
    -moz-transform: scale(1.1) rotateZ(2deg)
  }
  87.5% {
    -moz-transform: scale(1.1) rotateZ(-2deg)
  }
  90% {
    -moz-transform: scale(1.1) rotateZ(2deg)
  }
  92.5% {
    -moz-transform: scale(1.1) rotateZ(-2deg)
  }
  95% {
    -moz-transform: scale(1.1) rotateZ(2deg)
  }
  97.5% {
    -moz-transform: scale(1.1) rotateZ(-2deg)
  }
  100% {
    -moz-transform: scale(1) rotateZ(0)
  }
}

@keyframes tadaa {
  0%,
  60% {
    -webkit-transform: scale(1)-moz-transform:scale(1)-ms-transform:scale(1)-o-transform:scale(1)transform:scale(1)
  }
  65%,
  70% {
    -webkit-transform: scale(.8) rotateZ(-2deg)-moz-transform:scale(.8) rotateZ(-2deg)-ms-transform:scale(.8) rotateZ(-2deg)-o-transform:scale(.8) rotateZ(-2deg)transform:scale(.8) rotateZ(-2deg)
  }
  75% {
    -webkit-transform: scale(1.1) rotateZ(2deg)-moz-transform:scale(1.1) rotateZ(2deg)-ms-transform:scale(1.1) rotateZ(2deg)-o-transform:scale(1.1) rotateZ(2deg)transform:scale(1.1) rotateZ(2deg)
  }
  77.5% {
    -webkit-transform: scale(1.1) rotateZ(-2deg)-moz-transform:scale(1.1) rotateZ(-2deg)-ms-transform:scale(1.1) rotateZ(-2deg)-o-transform:scale(1.1) rotateZ(-2deg)transform:scale(1.1) rotateZ(-2deg)
  }
  80% {
    -webkit-transform: scale(1.1) rotateZ(2deg)-moz-transform:scale(1.1) rotateZ(2deg)-ms-transform:scale(1.1) rotateZ(2deg)-o-transform:scale(1.1) rotateZ(2deg)transform:scale(1.1) rotateZ(2deg)
  }
  82.5% {
    -webkit-transform: scale(1.1) rotateZ(-2deg)-moz-transform:scale(1.1) rotateZ(-2deg)-ms-transform:scale(1.1) rotateZ(-2deg)-o-transform:scale(1.1) rotateZ(-2deg)transform:scale(1.1) rotateZ(-2deg)
  }
  85% {
    -webkit-transform: scale(1.1) rotateZ(2deg)-moz-transform:scale(1.1) rotateZ(2deg)-ms-transform:scale(1.1) rotateZ(2deg)-o-transform:scale(1.1) rotateZ(2deg)transform:scale(1.1) rotateZ(2deg)
  }
  87.5% {
    -webkit-transform: scale(1.1) rotateZ(-2deg)-moz-transform:scale(1.1) rotateZ(-2deg)-ms-transform:scale(1.1) rotateZ(-2deg)-o-transform:scale(1.1) rotateZ(-2deg)transform:scale(1.1) rotateZ(-2deg)
  }
  90% {
    -webkit-transform: scale(1.1) rotateZ(2deg)-moz-transform:scale(1.1) rotateZ(2deg)-ms-transform:scale(1.1) rotateZ(2deg)-o-transform:scale(1.1) rotateZ(2deg)transform:scale(1.1) rotateZ(2deg)
  }
  92.5% {
    -webkit-transform: scale(1.1) rotateZ(-2deg)-moz-transform:scale(1.1) rotateZ(-2deg)-ms-transform:scale(1.1) rotateZ(-2deg)-o-transform:scale(1.1) rotateZ(-2deg)transform:scale(1.1) rotateZ(-2deg)
  }
  95% {
    -webkit-transform: scale(1.1) rotateZ(2deg)-moz-transform:scale(1.1) rotateZ(2deg)-ms-transform:scale(1.1) rotateZ(2deg)-o-transform:scale(1.1) rotateZ(2deg)transform:scale(1.1) rotateZ(2deg)
  }
  97.5% {
    -webkit-transform: scale(1.1) rotateZ(-2deg)-moz-transform:scale(1.1) rotateZ(-2deg)-ms-transform:scale(1.1) rotateZ(-2deg)-o-transform:scale(1.1) rotateZ(-2deg)transform:scale(1.1) rotateZ(-2deg)
  }
  100% {
    -webkit-transform: scale(1) rotateZ(0)-moz-transform:scale(1) rotateZ(0)-ms-transform:scale(1) rotateZ(0)-o-transform:scale(1) rotateZ(0)transform:scale(1) rotateZ(0)
  }
}

.tadaa {
  -webkit-animation: tadaa 3s ease-in-out infinite-moz-animation:tadaa 3s ease-in-out infiniteanimation:tadaa 3s ease-in-out infinite
}

.such-stuff {
  font-family: 'Comic Sans MS', 'Comic Sans', 'Comic Neue', sans-serif, cursivefont-weight:300font-size:1em-webkit-font-smoothing:auto-moz-osx-font-smoothing:autofont-smooth:always-webkit-transform:scale(0)-moz-transform:scale(0)-o-transform:scale(0)-ms-transform:scale(0)transform:scale(0)-webkit-transition:.5s-moz-transition:.5s-o-transition:.5s-ms-transition:.5stransition:.5sdisplay:blockwidth:autoheight:auto
}

.such-expanded {
  -webkit-transform: scale(1)-moz-transform:scale(1)-o-transform:scale(1)-ms-transform:scale(1)transform:scale(1)
}

.level-up {
  text-shadow: 1px 0 0 #000, 1px 1px 0 #000, 0 1px 0 #000, -1px 0 0 #000, -1px -1px 0 #000, 0 -1px 0 #000font-size:2emwidth:200pxleft:calc(50% - 100px)top:-50vh-webkit-animation:moveOnUp 3s 3s ease alternate 1-moz-animation:moveOnUp 3s 3s ease alternate 1-ms-animation:moveOnUp 3s 3s ease alternate 1-o-animation:moveOnUp 3s 3s ease alternate 1z-index:1
}

@keyframes fadeIn {
  from {
    opacity: 0
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0
  }
}

@-o-keyframes fadeIn {
  from {
    opacity: 0
  }
}

@-ms-keyframes fadeIn {
  from {
    opacity: 0
  }
}

@keyframes blink {
  49% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
}

@-webkit-keyframes blink {
  49% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
}

@-moz-keyframes blink {
  49% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
}

@-o-keyframes blink {
  49% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
}

@-ms-keyframes blink {
  49% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
}

@keyframes moveOnUp {
  0% {
    transform: translateY(0)
  }
  45% {
    transform: translateY(90vh)
  }
  50%,
  60% {
    transform: translateY(90vh) scale(1.5)
  }
  55%,
  65% {
    transform: translateY(90vh) scale(1)
  }
  100% {
    transform: tranlateY(0)
  }
}

@-webkit-keyframes moveOnUp {
  0% {
    transform: translateY(0)
  }
  45% {
    -webkit-transform: translateY(90vh)
  }
  50%,
  60% {
    -webkit-transform: translateY(90vh) scale(1.5)
  }
  55%,
  65% {
    -webkit-transform: translateY(90vh) scale(1)
  }
  100% {
    -webkit-transform: tranlateY(0)
  }
}

@-moz-keyframes moveOnUp {
  0% {
    transform: translateY(0)
  }
  45% {
    -moz-transform: translateY(90vh)
  }
  50%,
  60% {
    -moz-transform: translateY(90vh) scale(1.5)
  }
  55%,
  65% {
    -moz-transform: translateY(90vh) scale(1)
  }
  100% {
    -moz-transform: tranlateY(0)
  }
}

@-o-keyframes moveOnUp {
  0% {
    transform: translateY(0)
  }
  45% {
    -o-transform: translateY(90vh)
  }
  50%,
  60% {
    -o-transform: translateY(90vh) scale(1.5)
  }
  55%,
  65% {
    -o-transform: translateY(90vh) scale(1)
  }
  100% {
    -o-transform: tranlateY(0)
  }
}

@-ms-keyframes moveOnUp {
  0% {
    transform: translateY(0)
  }
  45% {
    -ms-transform: translateY(90vh)
  }
  50%,
  60% {
    -ms-transform: translateY(90vh) scale(1.5)
  }
  55% {
    -ms-transform: translateY(90vh) scale(1)
  }
  100% {
    -ms-transform: tranlateY(0)
  }
}

em {
  font-style: normal
}

"