        /* import fonts */

        @import 'https://fonts.googleapis.com/css?family=VT323';
        @import 'https://fontlibrary.org/face/comic-neue';
        /* reset */

        body,
        html {
          margin: 0;
          padding: 0;
          height: 100vh;
          width: 100vw;
        }

        button,
        button:active,
        button:focus {
          /* for accessability of prev and next buttons */
          border: none;
          outline: none;
          font-family: VT323, monospace;
        }

        picture {
          display: block;
        }

        h1,
        h2,
        h3,
        h4,
        h5 {
          margin: 0;
          padding: 0;
        }

        body {
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          display: block;
          background: linear-gradient(to left top,#99c339,#008d94);
          background-repeat: no-repeat;
          font-family: VT323, monospace;
          font-smooth: unset;
          font-size: 1.3rem;
          font-weight: lighter;
          color: #5e686d;
          overflow: hidden;
        }

        /* FONTS AND IMAGE RENDERING */

        * {
          image-rendering: optimizeSpeed;
          image-rendering: pixelated;
          image-rendering: optimize-contrast;
          font-weight: lighter;
          transition: 0.5s;
          transition-timing-function: cubic-bezier(.9, 0, .1, 1);
        }

        .loading-wrapper {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          transform: translateY(0);
        }

        .not-loading {
          transform: translateY(100%);
        }

        .loader>img {
          margin: 1em auto;
          display: block;
          width: auto;
          height: 30vh;
        }

        .out-of-view-right {
          transform: translateX(100vw);
        }

        .out-of-view-left {
          transform: translateX(-100vw);
        }

        h1 {
          font-size: 2.5em;
          margin-bottom: 0.2em
        }

        h2 {
          font-size: 1.3em;
          margin-bottom: 0.2em
        }

        a {
          color: #99c339;
          text-decoration: underline;
        }

        .center-parent {
          display: table;
          text-align: center;
          height: 100%;
        }

        .centered {
          display: table-cell;
          vertical-align: middle;
        }

        *[class*='--me-grp'] {
          image-rendering: optimize-speed;
        }

        .layout--me-grp {
          text-align: center;
          display: inline-block;
        }

        .me {
          height: 100%;
          margin-top: 1em;
        }

        .me>img {
          height: 40vh;
        }

        .hp,
        .mp,
        .mp>img,
        .hp>img {
          display: inline-block;
          line-height: 2em;
          vertical-align: middle;
        }

        .mp {
          margin-left: 0.5em;
        }

        .blink {
          animation: .35s blink linear infinite;
        }

        .power-bar {
          width: 100px;
          display: inline-block;
          box-sizing: border-box;
          border-style: none solid;
          height: 0.5em;
          margin-left: 5px;
          vertical-align: middle;
          transform-origin: left;
          transition: 1s;
          border-right-width: 100px;
        }

        .mp-bar {
          border-left-color: #93d1da;
          border-right-color: #73b1ba;
        }

        .hp-bar {
          border-left-color: #ef7f45;
          border-right-color: #c3a1aa;
        }

        .centered {
          margin: 0 auto;
        }

        *[class*="me-grp--blurb"] {
          width: 40%;
          height: 5em;
          display: block;
          text-align: left;
        }

        .layout--me-grp--blurb {
          display: inline-block;
          width: 50% !important;
          margin: 0;
          vertical-align: top;
          margin-left: 1em;
          text-align: left;
        }

        .layout--me-grp--blurb>p {
          height: 6em;
        }

        .layout--me-grp--blurb>h1 {
          width: 100%;
          display: block;
        }

        *[class*=-wrapper] {
          width: 100vw;
          height: 100vh;
        }

        .overview--me-grp--blurb {
          width: 80%;
        }

        .overview--me-grp {
          width: 66%;
          float: right;
        }

        .overview--skills-list {
          width: 33%;
          height: 100%;
          display: inline-block;
          float: left;
          position: relative;
        }

        .micro {
          transform: scale(0);
          opacity: 0;
        }

        .macro {
          transform: scale(1);
          opacity: 1;
        }

        .overview--skills-list--skill {
          transform: scaleX(0);
          transform-origin: left;
          transition: .5s;
          transition-timing-function: cubic-bezier(1, 0, .5, 1.5);
          box-sizing: border-box;
          background: #5e686d;
          border: 1px dashed #5e686d;
          position: relative;
          margin-top: -1px;
        }

        .expanded {
          transform: scaleX(1);
        }

        .overview--skills-list--scale {
          display: block;
          width: calc(100% + 10px);
          height: auto;
          bottom: 0;
          position: absolute;
          left: 0;
          z-index: 20;
        }

        .overview--skills-list--skill--skill-text {
          height: 100%;
          display: inline-block;
          top: 0;
          padding-left: 5px;
          background: 0 0;
          animation: .2s 2s fadeIn backwards;
          white-space: nowrap;
          line-height: 100%;
          vertical-align: bottom;
        }

        .overview--me-grp-char-class {
          color: #99c339;
        }

        .dev-skills--myConsole-wrapper,
        .design-skills--page-wrapper,
        .layout-skills--window-wrapper,
        .want-to-learn-skills--page-wrapper {
          width: 100vw;
          height: 100vh;
        }

        .design-skills--page-wrapper,
        .design-skills--icon-wrapper {
          width: 100vw;
          height: 100vh;
          position: absolute;
          top: 0;
          left: 0;
        }

        .dev-skills--myConsole-grp,
        .layout-skills--window-grp {
          position: relative;
          display: inline-block;
          width: 60vw;
          height: 70vh;
          background: #474746;
          border-radius: 10px;
          overflow: hidden;
          border: 1px solid #575756;
          box-shadow: 10px 10px 20px rgba(87, 87, 86, 0.7);
        }

        .layout-skills--window-grp {
          background: #dedede;
        }

        .dev-skills--myConsole-grp--title-bar,
        .layout-skills--window-grp--title-bar {
          position: absolute;
          z-index: 1;
          top: 0;
          display: block;
          width: 100%;
          background: linear-gradient(to top, #969695 5%, #c6c6c5);
          height: 1.2em;
          text-align: center;
        }

        .dev-skills--myConsole-grp--title,
        .layout-skills--window-grp--title {
          position: absolute;
          display: block;
          top: 0.2em;
          bottom: 0;
          height: 100%;
          line-height: 100%;
          width: 100%;
          vertical-align: middle;
          font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
          font-weight: normal;
          font-size: 0.8em;
          font-smooth: auto;
          text-shadow: 1px 1px 1px #969695;
          color: #444;
        }

        .os-btn {
          width: 0.55em;
          height: 0.55em;
          border-radius: 50%;
          display: inline-block;
          margin: 0.325em 0.2em;
          float: left;
        }

        .os-btn:first-of-type {
          border: 1px solid #e94e58;
          background: #ee7578;
          margin-left: 0.4em;
        }

        .os-btn:nth-of-type(2) {
          border: 1px solid #f49737;
          background: #f9bf33;
        }

        .os-btn:nth-of-type(3) {
          border: 1px solid #649f3a;
          background: rgb(0, 201, 86);
        }

        .dev-skills--myConsole-grp--myConsole>*,
        #myConsole-input {
          width: 80%;
          font-family: 'Lucida myConsole', 'Monaco', monospace;
          color: #8fec80;
          font-size: 0.6em;
          vertical-align: middle;
          line-height: auto;
          display: block;
          float: left;
          height: auto;
          margin: 0 0 0.5em auto;
          font-smooth: auto;
          font-weight: 300;
          background: rgba(0, 0, 0, 0);
          border: none;
        }

        .dev-skills--myConsole-grp--myConsole>.myConsole-line:first-child {
          margin-top: 3em;
        }

        .myConsole-line {
          white-space: pre-wrap;
        }

        .myConsole-line.elmo {
          line-height: 100%;
        }

        .dev-skills--myConsole-grp--myConsole>.usr {
          display: inline-block;
          float: left;
          width: auto;
          margin-bottom: 0.5em;
        }

        #myConsole-input {
          width: 70%;
          display: inline-block;
          float: left;
          text-align: left;
          height: 1.667em;
        }

        #myConsole-input:focus {
          outline: none;
        }

        .dev-skills--myConsole-grp--myConsole {
          position: relative;
          overflow: hidden;
          bottom: 0;
          margin-left: 1em;
          height: 100%;
          text-align: left;
        }

        .layout-skills--window-grp--window {
          text-align: center;
          width: 100%;
        }

        .next-prev {
          position: absolute;
          display: block;
          bottom: 1em;
          right: 1em;
          text-align: right;
          width: auto;
          z-index: 99;
        }

        .next-prev img {
          height: 3.5em;
        }

        .next,
        .prev {
          height: 1em;
          opacity: 0.4;
          display: inline-block;
          width: auto;
          cursor: pointer;
          background: none;
        }

        .next:hover,
        .prev:hover {
          opacity: 0.8;
        }

        .design-skills--phone.inactive>img {
          transform: scale(0.6);
          width: auto;
        }

        .design-skills--phone>img {
          transform-origin: center;
          border-radius: 20px;
          box-shadow: 10px 10px 20px rgba(87, 87, 86, 0.7);
        }

        #message-icon {
          cursor: pointer;
        }

        .btn.cta {
          display: inline-block;
          text-align: center;
          width: 5em;
          padding: 0.5em;
          background: #cc4;
          color: #5e686d;
          cursor: pointer;
          border-radius: 0.3em;
          font-size: 1.16em;
        }

        .btn:hover {
          transition: 0.2s;
          box-shadow: 3px 3px 3px rgba(87, 87, 86, 0.5);
        }

        .illus {
          width: 100%;
          height: 100%;
        }

        .illus--column {
          position: relative;
          display: inline-block;
          width: 20%;
          height: 35%;
        }

        .illus--item {
          position: relative;
          display: inline-block;
          height: 90%;
          width: 90%;
          padding: 5%;
          margin: 0;
        }

        .illus--item>img {
          height: auto;
          width: 100%;
        }

        .illus--blurb {
          display: inline-block;
          width: 80%;
          text-align: justify;
          padding-right: 5em;
          height: 5em;
          box-sizing: border-box;
        }

        @keyframes wheech-in {
          0% {
            transform: translateY(100%);
            opacity: 0
          }
          75% {
            transform: translateY(-10%)
          }
          100% {
            transform: translateY(0);
            opacity: 1
          }
        }

        @keyframes wheech-out {
          0% {
            transform: translateY(0);
            opacity: 1
          }
          25% {
            transform: translateY(10%)
          }
          100% {
            transform: translateY(-150%);
            opacity: 0
          }
        }

        .word-scroller,
        .site-type,
        .to-learn-item,
        .to-learn {
          box-sizing: border-box;
          vertical-align: baseline;
        }

        .word-scroller {
          height: auto;
          width: auto;
          vertical-align: middle;
          position: relative;
          display: block;
          text-align: center;
          overflow: hidden;
          padding: 0;
        }

        h2.word-scroller,
        h1.want-to-learn--title {
          font-size: 2em;
          font-weight: normal;
        }

        h1.want-to-learn--title {
          font-size: 2.5em;
        }

        .to-learn {
          height: 1em;
          display: inline-block;
          position: relative;
          text-align: left;
          vertical-align: baseline;
          border-bottom: .2em solid #c8d979;
          margin: 0 0 -.2em -.1em;
        }

        .to-learn-item {
          height: 90%;
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          transform: translateY(0);
          white-space: nowrap;
        }

        .in {
          animation: wheech-in .5s linear 1;
        }

        .out {
          transform: translateY(-150%);
          animation: wheech-out .5s linear 1;
          opacity: 0;
        }

        .below {
          transform: translateY(150%);
        }

        ol.text-left {
          text-align: left;
        }

        ul.contact-list {
          display: block;
          list-style: none;
          position: absolute;
          bottom: 1.7rem;
          width: 100%;
          padding: 0;
          margin: 0 auto;
        }

        ul.contact-list img {
          max-height: 1.5em;
          max-width: 1.5em;
        }

        ul.contact-list,
        ul.contact-list>li {
          vertical-align: middle;
          text-align: center;
        }

        ul.contact-list>li {
          display: inline-block;
          margin: 0 0.7em;
        }

        ul.contact-list>li:hover {
          transform: scale(1.3);
        }

        .sum-up--me-grp--blurb,
        .sum-up--me-grp--blurb>p {
          width: 60%;
          height: 5em;
          text-align: left;
        }

        .sum-up--me-grp--blurb>p {
          width: 100%;
        }

        @keyframes tadaa {
          0%,
          60% {
            transform: scale(1)
          }
          65%,
          70% {
            transform: scale(.8) rotateZ(-2deg)
          }
          75% {
            transform: scale(1.1) rotateZ(2deg)
          }
          77.5% {
            transform: scale(1.1) rotateZ(-2deg)
          }
          80% {
            transform: scale(1.1) rotateZ(2deg)
          }
          82.5% {
            transform: scale(1.1) rotateZ(-2deg)
          }
          85% {
            transform: scale(1.1) rotateZ(2deg)
          }
          87.5% {
            transform: scale(1.1) rotateZ(-2deg)
          }
          90% {
            transform: scale(1.1) rotateZ(2deg)
          }
          92.5% {
            transform: scale(1.1) rotateZ(-2deg)
          }
          95% {
            transform: scale(1.1) rotateZ(2deg)
          }
          97.5% {
            transform: scale(1.1) rotateZ(-2deg)
          }
          100% {
            transform: scale(1) rotateZ(0)
          }
        }

        .tadaa {
          animation: tadaa 3s ease-in-out infinite
        }

        .such-stuff {
          font-family: 'Comic Sans MS', 'Comic Sans', 'Comic Neue', sans-serif, cursive;
          font-weight: 300;
          font-size: 1em;
          font-smooth: always;
          transform: scale(0);
          transition: .5s;
          display: block;
          position: absolute;
          width: auto;
          height: auto;
        }

        .such-expanded {
          transform: scale(1)
        }

        .level-up {
          text-shadow: 1px 0 0 #000, 1px 1px 0 #000, 0 1px 0 #000, -1px 0 0 #000, -1px -1px 0 #000, 0 -1px 0 #000;
          font-size: 2em;
          width: 200px;
          left: calc(50% - 100px);
          top: -50vh;
          position: absolute;
          color: #99c339;
          z-index: 1
        }

        @keyframes fadeIn {
          from {
            opacity: 0
          }
        }

        @keyframes blink {
          49% {
            opacity: 0
          }
          50% {
            opacity: 1
          }
        }

        @keyframes moveOnUp {
          0% {
            transform: translateY(0)
          }
          45% {
            transform: translateY(90vh)
          }
          50%,
          60% {
            transform: translateY(90vh) scale(1.5)
          }
          55%,
          65% {
            transform: translateY(90vh) scale(1)
          }
          100% {
            transform: tranlateY(0)
          }
        }

        em {
          color: #99c339;
          font-style: normal;
        }